<h1 mat-dialog-title>Game Statistics ⚽️</h1>

<div mat-dialog-content>
  <div class="stats">
    <div class="stat-item">
      <span class="stat-label">Possession:</span>
      <span class="stat-value">Arsenal {{data.possession.arsenal}} - Man City {{data.possession.manCity}}</span>
    </div>
    <div class="stat-item">
      <span class="stat-label">Shots:</span>
      <span class="stat-value">Arsenal {{data.shots.arsenal}} - Man City {{data.shots.manCity}}</span>
    </div>
    <div class="stat-item">
      <span class="stat-label">Fouls:</span>
      <span class="stat-value">Arsenal {{data.fouls.arsenal}} - Man City {{data.fouls.manCity}}</span>
    </div>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button color="accent" (click)="close()">Close</button>
</div>
