<mat-card class="game-card">
    <div class="teams-container">
      <div class="team">
        <img src="https://upload.wikimedia.org/wikipedia/en/5/53/Arsenal_FC.svg" alt="Arsenal" />
        <span class="team-name">Arsenal</span>
      </div>
  
      <div class="score">2 - 1</div>
  
      <div class="team">
        <img src="https://upload.wikimedia.org/wikipedia/en/e/eb/Manchester_City_FC_badge.svg" alt="Man City" />
        <span class="team-name">Man City</span>
      </div>
    </div>
  
    <button mat-raised-button color="primary" (click)="openDetails()">View Game Details</button>
  </mat-card>
  